In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.keys()

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [5]:
df.drop(['Pregnancies', 'SkinThickness','DiabetesPedigreeFunction'],axis='columns',inplace=True)

In [6]:
df.head()

   Glucose  BloodPressure  Insulin   BMI  Age  Outcome
0      148             72        0  33.6   50        1
1       85             66        0  26.6   31        0
2      183             64        0  23.3   32        1
3       89             66       94  28.1   21        0
4      137             40      168  43.1   33        1

In [7]:
inputs = df.drop('Outcome',axis='columns')
target = df.Outcome

In [8]:
df.shape

(768, 6)

In [9]:
inputs.Age[:10]

0    50
1    31
2    32
3    21
4    33
5    30
6    26
7    29
8    53
9    54
Name: Age, dtype: int64

In [10]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [11]:
inputs.head()

   Glucose  BloodPressure  Insulin   BMI  Age
0      148             72        0  33.6   50
1       85             66        0  26.6   31
2      183             64        0  23.3   32
3       89             66       94  28.1   21
4      137             40      168  43.1   33

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [14]:
len(X_train)

614

In [15]:
len(X_test)

154

In [16]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [17]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [18]:
model.score(X_test,y_test)

0.6623376623376623

In [19]:
df.corr()

                Glucose  BloodPressure   Insulin       BMI       Age   Outcome
Glucose        1.000000       0.152590  0.331357  0.221071  0.263514  0.466581
BloodPressure  0.152590       1.000000  0.088933  0.281805  0.239528  0.065068
Insulin        0.331357       0.088933  1.000000  0.197859 -0.042163  0.130548
BMI            0.221071       0.281805  0.197859  1.000000  0.036242  0.292695
Age            0.263514       0.239528 -0.042163  0.036242  1.000000  0.238356
Outcome        0.466581       0.065068  0.130548  0.292695  0.238356  1.000000

In [20]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier().fit(X_train, y_train)

print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))

Accuracy of Decision Tree classifier on training set: 1.00
Accuracy of Decision Tree classifier on test set: 0.70

In [21]:
inputs.head()

   Glucose  BloodPressure  Insulin   BMI  Age
0      148             72        0  33.6   50
1       85             66        0  26.6   31
2      183             64        0  23.3   32
3       89             66       94  28.1   21
4      137             40      168  43.1   33

In [24]:
model.predict([[148,72,0,33.6,50]])

array([1], dtype=int64)

In [25]:
model.predict([[85,66,0,26.6,32]])

array([0], dtype=int64)